<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Arveto Ink.</title>
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bulma Version 0.7.4-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/hero.css">
        <link rel="stylesheet" type="text/css" href="../css/arveto_hero.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    </head>
    <body>

        <!-- HERO -->

        <section class="hero is-info is-medium is-bold is-fullheight arveto-green-bg" id="hero">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item arveto-transparent-bg">
                                <img src="../images/arveto_typo.png" alt="Logo">
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu arveto-transparent-bg">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                    <ul>
                                        <li class="is-active"><a class="arveto-green-active">Accueil</a></li>
                                        <li id="fonctionnement-hero"><a>Fonctionnement</a></li>
                                        <li id="competences-hero"><a>Nos compétences</a></li>
                                        <li id="equipe-hero"><a>Notre équipe</a></li>
                                        <li id="demo-hero"><a>Application démo</a></li>
                                    </ul>
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="mailto:www.arveto.softwares@gmail.com">
                                            <span class="icon">
                                                <i class="fa fa-envelope "></i>
                                            </span>
                                            <span title="Hello from the other side">Nous contacter</span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                    La Junior Entreprise de l'ISTY
                    </h1>
                    <h2 class="subtitle">
                    La Junior Entreprise de l'ISTY a été reformée en 2019 par un groupe d'étudiants motivés et compétents. Elle est spécialisée dans la réalisation de solutions logicielles pour les entreprises. 
                    </h2>
                    <div class="has-text-centered">
                        <i class="fa fa-arrow-circle-down fa-4x clickable" id="heroScroller"></i>
                    </div>
                </div>
            </div>

        </section>


        <!-- HEADER -->

        <div class="box cta" id="header">
            <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <a class="navbar-item" id="typo-header">
                  <img src="../images/arveto_typo_black.png" height="28">
                </a>

                <a role="button" class="navbar-burger burger" id="navbarBurger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                  <a class="navbar-item arveto-green-hover" id="accueil-header">Accueil</a>
                  <a class="navbar-item arveto-green-hover" id="fonctionnement-header">Fonctionnement</a>
                  <a class="navbar-item arveto-green-hover" id="competences-header">Nos compétences</a>
                  <a class="navbar-item arveto-green-hover" id="equipe-header">Notre équipe</a>
                  <a class="navbar-item arveto-green-hover" id="demo-header">Application démo</a>

                </div>

                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a class="button arveto-green-bg">
                        <span class="icon">
                          <i class="fa fa-envelope "></i>
                        </span>
                        <strong>Nous contacter</strong>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
        </div>


        <!-- CONTENT -->


        <section class="container" id="content">

            <div class="title has-text-centered" id="fonctionnement-title">Comment fonctionnons-nous ?</div><br>

            <div class="columns features" id="cards">
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i id="icon1" class="fa fa-pied-piper-pp"></i>
                        </div>
                        <div class="card-content">
                            <div class="content paragraph">
                                <h4>Etape 1: Devis </h4>
                                <p>Nous appréhendons vos problématique et vous exposons nos solutions, le budget prévisionnel et le temps nécessaire à la réalisation de ce projet.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i id="icon2" class="fa fa-cogs"></i>
                        </div>
                        <div class="card-content">
                            <div class="content paragraph">
                                <h4>Etape 2: Lancement de l'étude</h4>
                                <p>Nous commençons alors l'étude approfondie des solutions que nous proposons et le développement technique du projet afin de répondre le mieux possible aux attentes de nos clients.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i id="icon3" class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="card-content">
                            <div class="content paragraph">
                                <h4>Etape 3: Rendu du projet </h4>
                                <p>Nous rendons le projet terminé dans les délais et les conditions prévus dès le devis et nous assurons son installation ainsi que le suivi de son fonctionnement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro column is-8 is-offset-2">
                <div class="title" id="competences-title">Quelles-sont nos compétences ?</div><br>
                <p class="subtitle">Arveto Ink. est composé d'étudiants maitrisant de nombreux outils et langages informatique, permettant ainsi une grande polyvalence dans le développement des solutions logicielles.</p>
            </div>
            <div class="sandbox">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title"> Web	</p>
                            <p class="subtitle_competence	" > HTML 5, CSS 3 ( Bulma, Vue Material ) , Javascript ( Vue.js, Jquery, Vanilla, Node.js, ), Go, Python, PHP</p>
                            <img src="../images/Js_logo.png">
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Applications desktop crossplateformes</p>
                            <p class="subtitle_competence"> Go, C, C++, Python, js ( Electron )</p>
                            <img src="../images/Node.js_logo.png"">
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Applications mobiles crossplateformes</p>
                            <p class="subtitle_competence">Go, Java, Cordova, Nativescript </p>
                            <img src="../images/C++_logo.png"">
                            <div class="content">
                        	
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-8">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                                      </div>
                    </div>

                            	
                        </article>
                    </div>
                </div>

                <div class="title has-text-centered" id="equipe-title">Notre équipe</div><br>

                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Olivier Benaben</p>
                            <p class="subtitle">Vice-président et fondateur d'Arveto Ink.</p>
                            <div class="content">
                              <img src="../images/Olivier_Benaben.jpg" class="photo">
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-8 is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Aurélien Delval</p>
                            <p class="subtitle">Président et fondateur d'Arveto Ink.</p>
                            <div class="content">
                               <p class="citation"><img src="../images/Aurelien_Delval.jpg" class="photo">	"Vené svp on a grave besoin de tune"</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-8 is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Hugo Henrotte</p>
                            <p class="subtitle">Trésorier et fondateur d'Arveto Ink.</p>
                            <div class="content">
                              <p class="citation">  <img src="../images/Hugo_Henrotte.jpg" class="photo"> “Super !”</p>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Guillaume Montfort</p>
                            <p class="subtitle">Secrétaire général et fondateur d'Arveto Ink.</p>
                            <div class="content">
                               <img src="../images/Guillaume_Montfort.jpg">
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>


        <!--FOOTER-->

        <footer class="footer" id="footer">
            <div class="container has-text-centered">


                <h2>
                  
                   <h3 class="coordonnees"> Coordonnées :</h3>
                   <p> 10 rue Paul Dautier</br>
                   	Vélizy-Villacoublay, 78140
                    </br>
                    arveto.softwares@gmail.com
                </p>
                </br>
            </h2>
                    <strong id="links">Retrouvez-nous aussi aux liens suivants:</strong>
                

                <div class="content has-text-centered">

                    <div class="columns">
                        <div class="column is-3 is-offset-3">
                            <a class="icon" href="https://twitter.com/ArvetoSoftwares">
                                <i class="fa fa-twitter fa-2x footer-icon"></i>
                            </a>
                        </div>
                        <div class="column is-3 is-offset 6">
                            <a class="icon" href="https://github.com/Arveto">
                                <i class="fa fa-github fa-2x footer-icon"></i>
                            </a>
                        </div>
                    </div>





                </div>

                <p id="legal">
                    
                    </br>
                    ©Copyraaiiight 2019 Arveto Ink. Tout droits réservés 
                </p>

            <script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
            <script src="../js/bulma.js"></script>
            <script src="../js/arveto_hero.js"></script>
        </footer>
    </body>
</html>
