<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Arveto Ink.</title>
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bulma Version 0.7.4-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/hero.css">
        <link rel="stylesheet" type="text/css" href="../css/arveto_hero.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    </head>
    <body>

        <!-- HERO -->

        <section class="hero is-info is-medium is-bold is-fullheight arveto-green-bg" id="hero">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item arveto-transparent-bg">
                                <img src="../images/arveto_typo.png" alt="Logo">
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu arveto-transparent-bg">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                    <ul>
                                        <li class="is-active"><a class="arveto-green-active">Accueil</a></li>
                                        <li id="fonctionnement-hero"><a>Fonctionnement</a></li>
                                        <li id="competences-hero"><a>Nos compétences</a></li>
                                        <li id="equipe-hero"><a>Notre équipe</a></li>
                                        <li id="demo-hero"><a>Application démo</a></li>
                                    </ul>
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="mailto:www.arveto.softwares@gmail.com">
                                            <span class="icon">
                                                <i class="fa fa-envelope "></i>
                                            </span>
                                            <span title="Hello from the other side">Nous contacter</span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                    La Junior Entreprise de l'ISTY
                    </h1>
                    <h2 class="subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </h2>
                    <div class="has-text-centered">
                        <i class="fa fa-arrow-circle-down fa-4x clickable" id="heroScroller"></i>
                    </div>
                </div>
            </div>

        </section>


        <!-- HEADER -->

        <div class="box cta" id="header">
            <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <a class="navbar-item" id="typo-header">
                  <img src="../images/arveto_typo_black.png" height="28">
                </a>

                <a role="button" class="navbar-burger burger" id="navbarBurger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                  <a class="navbar-item arveto-green-hover" id="accueil-header">Accueil</a>
                  <a class="navbar-item arveto-green-hover" id="fonctionnement-header">Fonctionnement</a>
                  <a class="navbar-item arveto-green-hover" id="competences-header">Nos compétences</a>
                  <a class="navbar-item arveto-green-hover" id="equipe-header">Notre équipe</a>
                  <a class="navbar-item arveto-green-hover" id="demo-header">Application démo</a>

                </div>

                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a class="button arveto-green-bg">
                        <span class="icon">
                          <i class="fa fa-envelope "></i>
                        </span>
                        <strong>Nous contacter</strong>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
        </div>


        <!-- CONTENT -->


        <section class="container" id="content">

            <div class="title has-text-centered" id="fonctionnement-title">Comment fonctionnons-nous ?</div><br>

            <div class="columns features" id="cards">
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i id="icon1" class="fa fa-pied-piper-pp"></i>
                        </div>
                        <div class="card-content">
                            <div class="content paragraph">
                                <h4>Etape 1: Devis </h4>
                                <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i id="icon2" class="fa fa-cogs"></i>
                        </div>
                        <div class="card-content">
                            <div class="content paragraph">
                                <h4>Etape 2: On fait du sale</h4>
                                <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
                                sed risus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i id="icon3" class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="card-content">
                            <div class="content paragraph">
                                <h4>Etape 3: Ramasser le biff </h4>
                                <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro column is-8 is-offset-2">
                <div class="title" id="competences-title">Quelles-sont nos compétences ?</div><br>
                <p class="subtitle">Vel fringilla est ullamcorper eget nulla facilisi. Nulla facilisi nullam vehicula ipsum a. Neque egestas congue quisque egestas diam in arcu cursus.</p>
            </div>
            <div class="sandbox">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Hello World</p>
                            <p class="subtitle">What is up?</p>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Foo</p>
                            <p class="subtitle">Bar</p>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Third column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-8">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-white">
                                    <p class="title">Vertical tiles</p>
                                    <p class="subtitle">Top box</p>
                                </article>
                                <article class="tile is-child notification is-white">
                                    <p class="title">Vertical tiles</p>
                                    <p class="subtitle">Bottom box</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-white">
                                    <p class="title">Middle box</p>
                                    <p class="subtitle">With an image</p>
                                    <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                                    </figure>
                                </article>
                            </div>
                        </div>
                        <div class="tile is-parent is-shady">
                            <article class="tile is-child notification is-white">
                                <p class="title">Wide column</p>
                                <p class="subtitle">Aligned with the right column</p>
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <div class="content">
                                <p class="title">Tall column</p>
                                <p class="subtitle">With even more content</p>
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula
                                    eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                                    <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet
                                    felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                                    <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam
                                    ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="title has-text-centered" id="equipe-title">Notre équipe</div><br>

                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Side column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-8 is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Main column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-8 is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Murphy's law</p>
                            <p class="subtitle">Anything that can go wrong will go wrong</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Main column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>


        <!--FOOTER-->

        <footer class="footer" id="footer">
            <div class="container has-text-centered">


                <h2>
                    Là faut faire un vrai footer
                    </br>
                    <strong id="links">Retrouvez-nous aussi aux liens suivants:</strong>
                </h2>

                <div class="content has-text-centered">

                    <div class="columns">
                        <div class="column is-3 is-offset-3">
                            <a class="icon" href="https://twitter.com/ArvetoSoftwares">
                                <i class="fa fa-twitter fa-2x footer-icon"></i>
                            </a>
                        </div>
                        <div class="column is-3 is-offset 6">
                            <a class="icon" href="https://github.com/Arveto">
                                <i class="fa fa-github fa-2x footer-icon"></i>
                            </a>
                        </div>
                    </div>





                </div>

                <p id="legal">
                    Ici tu mets des trucs administratifs pour faire stylé. Toi même tu sais.
                    </br>
                    ©Copyrighy 2019 Arveto Ink. Tout droits réservés (c fo mdr)
                </p>

            <script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
            <script src="../js/bulma.js"></script>
            <script src="../js/arveto_hero.js"></script>
        </footer>
    </body>
</html>
